.containerDetails {
  .container {
    display: column;
    padding: 2rem;

    .product {
      display: flex;
      gap: 2rem;

      .imageContainer {
        flex: 0.6;
        border-radius: 4px;
        width: 42, 5rem;
        height: 42, 5rem;
      }

      .price {

        h3 {
          color: var(--dim-gray);
          margin-top: 2rem;
          margin-bottom: 1rem;
          font-size: 0.75rem;
        }

        h1 {
          margin-bottom: 2rem;

        }

        button {
          padding: 0.5rem;
          width: 100%;
          background: var(--azure);
          color: var(--white);
          border-radius: 4px;
          border: none;

          &:hover {
            filter: brightness(0.9);
          }
        }
      }
    }

    .description {
      flex: 1;
      margin-top: 1rem;
      font-size: 1.75rem;

      .text {
        color: var(--spanish-gray);
        font-size: 1rem;
      }
    }
  }
}