.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color : var(--cultured);


  button, a{
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: var(--jet)
  }
}

.main {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: calc(100vh - 2rem);
}

